---
import { config } from "../config";
import TopNavbar from "../components/TopNavbar.astro";
import LeftNavigation from "../components/LeftNavigation.astro";
import QuickLinks from "../components/QuickLinks.astro";

import "../styles/global.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;

const S4 = () =>
  (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
const cacheId = S4() + S4() + S4();
---

<!DOCTYPE html>
<html dir="ltr" lang="en-us" class="initial transition-colors">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="alternateicon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Page Metadata -->
    <title>{title}</title>
    {
      config.seo?.description && (
        <meta name="description" content={config.seo.description} />
      )
    }
    {config.seo?.author && <meta name="author" content={config.seo.author} />}
    {
      config.seo?.keywords && (
        <meta name="keywords" content={config.seo.keywords.join(", ")} />
      )
    }
    <link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />
    <meta name="robots" content="index, follow" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={title} />
    {
      config.seo?.description && (
        <meta property="og:description" content={config.seo.description} />
      )
    }
    <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} />
    <meta property="og:image" content={`${Astro.url.origin}/logo.png`} />
    <meta property="og:locale" content="en_US" />
  </head>
  <body>
    <TopNavbar />
    <div id="page">
      <div class="relative">
        <aside id="grid-left" class="hidden" title="Site Navigation">
          <div
            class="fixed top-0 pt-24 h-screen md:pt-0 md:h-auto md:sticky md:top-20 w-full overflow-y-auto z-10"
          >
            <nav
              aria-labelledby="grid-left"
              class="flex flex-col gap-4 h-full md:h-auto bg-white"
            >
              <div
                class="h-full bg-sky-100/25 dark:bg-[#1A1A1A] pb-4 px-2 pt-6 md:pt-0 overflow-scroll scrollbar-thin scrollbar-thumb-rounded-sm scrollbar-track-rounded-sm scrollbar-thumb-sky-300 scrollbar-track-slate-300 dark:scrollbar-thumb-sky-50 dark:scrollbar-track-slate-600"
              >
                <div
                  class="hidden items-center justify-center w-full mx-auto px-4 md:px-8 md:flex"
                >
                  <QuickLinks />
                </div>
                <div class="z-index-1 p-4">
                  <LeftNavigation currentPage={Astro.url.pathname} />
                </div>
              </div>
            </nav>
          </div>
        </aside>
      </div>
      <slot />
    </div>

    <script define:vars={{ cacheId }}>
      window.cacheId = cacheId;
    </script>
    <script>
      import "../utils/router";
    </script>
    <script
      defer
      data-domain="rspc.otbeaumont.me"
      src="https://plausible.otbeaumont.me/js/plausible.js"
    ></script>
  </body>
</html>
