---
import clsx from "clsx";
import { config } from "../config";
import LandingPage from "../layouts/Layout.astro";
import LeftNavigation from "../components/LeftNavigation.astro";
import { getPageData } from "../utils";

export async function getStaticPaths() {
  return [...(await getPageData())].map(([slug, page]) => ({
    params: { slug },
    props: page,
  }));
}

export interface Props {
  title: string;
  header?: string;
  html: string;
  headers: {
    slug: string;
    title: string;
  }[];
}

const { title, header, html, headers } = Astro.props;
const pageTitle =
  title !== undefined && title !== ""
    ? `${title} | ${config.seo.title}`
    : config.seo.title;
---

<!DOCTYPE html>
<LandingPage title={pageTitle}>
  <div
    class="relative mx-auto flex max-w-8xl justify-center sm:px-2 lg:px-8 xl:px-12"
  >
    <div class="hidden md:relative md:block md:flex-none">
      <div class="absolute inset-y-0 right-0 w-[50vw] bg-slate-50 dark:hidden">
      </div>
      <div
        class="absolute top-16 bottom-0 right-0 hidden h-12 w-px bg-gradient-to-t from-slate-800 dark:block"
      >
      </div>
      <div
        class="absolute top-28 bottom-0 right-0 hidden w-px bg-slate-800 dark:block"
      >
      </div>
      <div
        class="sticky top-[4.5rem] -ml-0.5 h-[calc(100vh-4.5rem)] overflow-y-auto overflow-x-hidden py-16 pl-0.5"
      >
        <LeftNavigation
          class="w-64 pr-8 xl:w-72 xl:pr-16"
          currentPage={Astro.url.pathname}
        />
      </div>
    </div>
    <div
      class="min-w-0 max-w-2xl flex-auto px-4 py-16 lg:max-w-none lg:pr-0 lg:pl-8 xl:px-16"
    >
      <article>
        <div
          class={clsx(
            "prose prose-slate max-w-none dark:prose-invert dark:text-slate-400",
            // headings
            "prose-headings:scroll-mt-28 prose-headings:font-display prose-headings:font-normal lg:prose-headings:scroll-mt-[8.5rem]",
            // lead
            "prose-lead:text-slate-500 dark:prose-lead:text-slate-400",
            // links
            "prose-a:font-semibold dark:prose-a:text-sky-400",
            // link underline
            "prose-a:no-underline prose-a:shadow-[inset_0_-2px_0_0_var(--tw-prose-background,#fff),inset_0_calc(-1*(var(--tw-prose-underline-size,4px)+2px))_0_0_var(--tw-prose-underline,theme(colors.sky.300))] hover:prose-a:[--tw-prose-underline-size:6px] dark:[--tw-prose-background:theme(colors.slate.900)] dark:prose-a:shadow-[inset_0_calc(-1*var(--tw-prose-underline-size,2px))_0_0_var(--tw-prose-underline,theme(colors.sky.800))] dark:hover:prose-a:[--tw-prose-underline-size:6px]",
            // pre
            "prose-pre:rounded-xl prose-pre:bg-slate-900 prose-pre:shadow-lg dark:prose-pre:bg-slate-800/60 dark:prose-pre:shadow-none dark:prose-pre:ring-1 dark:prose-pre:ring-slate-300/10",
            // hr
            "dark:prose-hr:border-slate-800"
          )}
        >
          <h1>{header || title}</h1>
          <div set:html={html}></div>
        </div>
      </article>
    </div>
    <div
      class="hidden xl:sticky xl:top-[4.5rem] xl:-mr-6 xl:block xl:h-[calc(100vh-4.5rem)] xl:flex-none xl:overflow-y-auto xl:py-16 xl:pr-6"
    >
      <nav aria-labelledby="on-this-page-title" class="w-56">
        {
          headers.length > 0 && (
            <>
              <h2
                id="on-this-page-title"
                class="font-display text-sm font-medium text-slate-900 dark:text-white"
              >
                On this page
              </h2>
              <ol role="list" class="mt-4 space-y-3 text-sm">
                {headers.map((section) => (
                  <li>
                    <h3>
                      <a
                        href={`#${section.slug}`}
                        class={
                          "font-normal text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-300"
                        }
                      >
                        {section.title}
                      </a>
                    </h3>
                  </li>
                ))}
              </ol>
            </>
          )
        }
      </nav>
    </div>
  </div>
</LandingPage>
