---
import clsx from "clsx";
import { getSidebarData } from "../utils";

export interface Props {
  currentPage: string;
  class?: string;
}

const sidebar = await getSidebarData();
const { currentPage, class: className } = Astro.props;
---

<nav class={clsx("text-base lg:text-sm", className)}>
  <ul role="list" class="space-y-9">
    {
      [...sidebar.values()].map((category) => (
        <li>
          <h2 class="font-display font-medium text-slate-900 dark:text-white">
            {category.name}
          </h2>
          <ul
            role="list"
            class="mt-2 space-y-2 border-l-2 border-slate-100 dark:border-slate-800 lg:mt-4 lg:space-y-4 lg:border-slate-200"
          >
            {category.children.map((page) => (
              <li class="relative">
                <a
                  href={`/${page.url}`}
                  rel="prefetch"
                  class={clsx(
                    "block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full",
                    currentPage === `/${page.url}/` ||
                      currentPage === `/${page.url}`
                      ? "font-semibold text-sky-500 before:bg-sky-500"
                      : "text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300"
                  )}
                >
                  {page.title}
                </a>
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</nav>
